h1, h2, h3, h4, h5, h6, p, a {
	font-family: "Century-Gothic";
}

.dropdown-trigger {
	font-family: "Century-Gothic";
}

.header {
	font-family: "Century-Gothic";
}

.btn {
	font-family: "Century-Gothic";
}

.m-0 {
	margin: 0;
}

.dropdown-content {
	overflow: hidden;
    width: auto;
}
.a.sidenav-trigger.top-nav {
	color:#01579b!important;
}
.ul.sidenav.sidenav-fixed {
	transform: none;
}
.f10 {
	font-size: 10px !important;
}
.w175 {
	width: 175px !important;
} 